html, *{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #fff;
  }
  
  .navigation-list {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    list-style: none;
    margin: 0 auto;
    gap: 1rem;
  }
  
  .navigation-list-item{
    padding: 1rem 0;
  }
  
  
  .navigation-list-item a {
    text-decoration: none;
    color: #000;
    border-radius: .8rem;
    padding: 1rem 2rem;
    width: 100%;
    height: 100%;
    /* link effects */
    transition: background-color .3s ease-in-out;
  }
  
  .navigation-list-item .highlight {
    border-radius: .8rem;
    background-color: var(--primary-blue-color);
    color: #fff;
  }
  
  /* Nav effects */
  
  
  .navigation-list-item a:hover{
    background-color: rgba(128, 128, 128, 0.174);
    
  }
  
  .navigation-list-item a.highlight:hover{
    background-color: #2387b2;
  }
  
  
  
  /* End Header */
main{
  margin-top: 6rem;
}
  /* Footer */
footer{
    margin: 3rem auto;
    padding: 3rem 0;
    background-color: #00000033;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .footer-logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .city-explorer-banner, .follow-us-banner{
    font-size: var(--text-font-size-large);
    font-weight: bold;
    margin-right: 1.5rem;
  }
  
  
  
  .footer-logo-container img{
    width: 5rem;
  }
  
  .footer-social-media-container{
    display: flex;
    align-items: center;
    justify-content: space-be;
    flex-direction: row;
  }
  
  .footer-social-media-container svg{
    width: 2.5rem;
    margin: 0 1rem;
  }