<div class="logo-container">
  <a href="../../index.html"><img src="./assets/icons/city-explorer-logo.svg" alt="City Explorer Logo"></a>
</div>
<nav class="navigation">
  <ul class="navigation-list">
    <li class="navigation-list-item"><a href="../../index.html#map-section">Nearby</a></li>
    <li class="navigation-list-item"><a href="../../index.html#recommended">Recommended</a></li>
    <li class="navigation-list-item"><a href="../../favorites/index.html">Favorites</a></li>
    <li class="navigation-list-item "><a href="#" class="highlight toCopy">Share</a></li>
  </ul>
</nav>